<!DOCTYPE html>
<html class="landinghtml">
<head th:replace="fragments/head ::head"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body class="bodyLanding">
	<div class="landingBG">
		<section class="company">
			<div>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center"></div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="header-text">
								<img class="logo" style="height: 30px"
										alt="ABC LOGO" th:src="@{/img/logo3.png}"
										src="../../static/img/logo3.png" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="slogon">
			<div>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center"></div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="header-text">
								<p class="coming">For your peace of mind</p>
							</div>
							<div class="header-text">
								<a href="/admin" class="btn btn-success" type="submit">Login</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>
