<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head ::head">
</head>
<body class="text-center">
	<div th:replace="fragments/header"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg"></div>
			<div class="col-lg">
				<div class="alert alert-danger" role="alert" th:if="${param.error}"
					th:text="#{login.invalid}"></div>
				<div class="alert alert-warning" role="alert"
					th:if="${param.logout}" th:text="#{login.logout}"></div>
				<form th:action="@{/login}" method="post">
					<h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
					<input class="form-control" id="inputUsername" type="text"
						name="username" placeholder="Email address" /> <input
						class="form-control" id="inputPassword" type="password"
						name="password" placeholder="Password" />
					<div class="checkbox mb-3">
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
						in</button>
				</form>
			</div>
			<div class="col-lg"></div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>