<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head ::head">
</head>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap4.min.css"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css"
	crossorigin="anonymous" />
<body>
	<div th:replace="fragments/header"></div>
	<div class="container">
		<div class="bs-component">
			<div th:replace="fragments/tabs"></div>
		</div>
		<h2 class="text-center">Policies</h2>
		<div class="bs-component">
			<div th:replace="fragments/alerts"></div>
		</div>
		<div class="row"></div>
		<div class="row">
			<div class="col-lg">
				<table id="policiesTable"
					class="table table-striped table-bordered dt-responsive nowrap"
					style="width: 100%">
					<thead>
						<tr>
							<th>Policy Number</th>
							<th>Policy Inception Date</th>
							<th>Transaction Date</th>
							<th>Policy Status</th>
							<th>Debt Order Date</th>
							<th>Premium</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="policy : ${policies}">
							<td th:text="${policy.policyNumber}"></td>
							<td th:text="${policy.policyInceptionDate}"></td>
							<td th:text="${policy.policyStatus}"></td>
							<td th:text="${policy.transactionDate}"></td>
							<td th:text="${policy.debtOrderDate}"></td>
							<td th:text="${policy.premium}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<div th:replace="fragments/footer :: footer"></div>
	<script
		src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap4.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"
		crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#policiesTable').DataTable({
				dom : 'frtipB',
				buttons : [ 'copy', 'csv', 'excel', 'print' ]
			});
		});
	</script>

</body>
</html>